.ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.div {
    width: 100%;
    max-width: 303px;
    height: 108px;
    overflow-x: auto;
    padding-bottom: 24px;
    & h3 {
        margin-top: 13px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: var(--main);
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .div {
        width: 100%;
        height: 118px;
        max-width: 640px;
        overflow-x: auto;
        & h3 {
            margin-top: 27px;
            font-size: 28px;
            line-height: 32px;
            text-align: start;
        }
    }
}
@media screen and (min-width: 1440px) {
    .div {
        width: 100%;
        max-width: 608px;
        overflow-x: auto;
    }
}

.div::-webkit-scrollbar-button {
    display: none;
}
.div::-webkit-scrollbar {
    height: 8px;
}
.div::-webkit-scrollbar-track {
    background: var(--main-white);
    border-radius: 9px;
}
.div::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 9px;
}