.icon {
    width: 30px;
    height: 30px;
    fill: var(--accent);
    stroke: var(--main);
}

.iconDaily {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: var(--main-white);
}

.button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    border: none;
    width: 124px;
    height: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    background-color: transparent;
    margin-left: auto;
}

.button:hover {
    & svg {
        fill: var(--main);
        stroke: var(--main-white);
    }
}

.buttonDaily {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 14px 20px;
    border: none;
    border-radius: 30px;
    width: 140px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main-white);
    background-color: var(--main);
    margin-top: auto;
    margin-left: auto;
}

.buttonDaily:hover {
    color: var(--accent);
    & svg {
        stroke: var(--accent);
    }
}

@media screen and (min-width: 768px) {
    .buttonDaily {
        padding: 18px 30px;
        width: 178px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
    .iconDaily {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .buttonDaily {
        padding: 18px 30px;
        width: 178px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
    .iconDaily {
        width: 24px;
        height: 24px;
    }
}