.vidget {
  position: relative;
  background-color: var(--main-white);
  max-width: 137px;
  min-height: 72px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 14px 20px;
  gap: 8px;
}

.btnSettings {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--grey-hover-focus);
}
.btnSettings:hover,
.btnSettings:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.4px;
  color: var(--main);
}

.btnLogOut {
  display: flex;
  padding: 0;
  border: none;
  color: var(--grey-hover-focus);
  background-color: transparent;
}
.iconSettings:hover,
.iconSettings:focus {
  fill: var(--main);
.btnLogOut:hover,
.btnLogOut:focus {
  color: var(--main);
  font-weight: 700;
  font-size: 15px;
  line-height: 22.4px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
