.vidget {
  position: absolute;
  background-color: var(--main-white);
  width: 137px;
  height: 72px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 14px 20px;
  gap: 8px;
  bottom: -76px;
}

.btnSettings {
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--grey-hover-focus);
}

.btnLogOut {
  display: flex;
  padding: 0;
  border: none;
  color: var(--grey-hover-focus);
  background-color: transparent;
}
.iconSettings {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--grey-hover-focus);
}
.iconUpload {
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--grey-hover-focus);
}
.iconSettings:hover,
.iconSettings:focus {
  fill: var(--main);
}
.btnLogOut:hover,
.btnLogOut:focus {
  color: var(--main);
}
.iconUpload:hover,
.iconUpload:focus {
  fill: var(--main);
}
.btnSettings:hover,
.btnSettings:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.4px;
  color: var(--main);
}
@media screen and (min-width: 768px) {
  .vidget {
    width: 157px;
    height: 82px;
    bottom: -90px;
  }
  .btnSettings {
    line-height: 22px;
  }
}
