.formDiv {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-top: 40px;
  gap: 24px;
}

.allText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.boldText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.indentity {
  margin-bottom: 14px;
}
.inputRadio {
  flex-direction: column;
  margin-bottom: 14px;
}
.radioBtn:hover,
.radioBtn:focus {
  color: var(--accent);
}
.divNameEmail label {
  gap: 14px;
}
.labelNameEmail {
  margin-bottom: 14px;
}
.inputNameEmail {
  width: 100%;
  max-width: 303px;
  height: 46px;
  border-radius: 15px;
  padding: 14px 16px;
  border-width: 1px;
  margin-bottom: 14px;
  margin-top: 8px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
.inputNameEmail:focus {
  border-color: var(--main-text);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.divDailyNorma {
  margin-top: 24px;
  margin-bottom: 24px;
}
.dailyNorma {
  margin-bottom: 14px;
}
.WMFormula {
  margin-bottom: 4px;
}
.formula {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent);
}
.paragraph {
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 16px;
  color: var(--main-text);
}
.activSign {
  margin-right: 4px;
}
.activeP {
  margin-bottom: 24px;
}
.titleName {
  margin-bottom: 8px;
}
.divWeight {
  margin-top: 24px;
  margin-bottom: 24px;
}
.labelYourWeight {
  margin-bottom: 8px;
}
.saveBtn {
  min-width: 141px;
  padding: 10px;
  background: var(--accent);
  color: var(--main);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .formDiv {
    max-width: 648px;
  }
  .identityTitle {
    font-size: 18px;
    line-height: 24px;
  }
  .saveBtn {
    width: 141px;
    height: 56px;
    border-radius: 30px;
    gap: 10px;
    padding: 16px 50px;
  }
}

@media screen and (min-width: 1440px) {
  .formDiv {
    min-width: 923px;
  }
}
