.formDiv {
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-top: 60px;
}
.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  object-fit: cover;
}
.avatarUploadDiv {
  margin-bottom: 40px;
}
.upload {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.uploadPhoto {
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;

  margin-top: 10px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
}
.labelUpload {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.allText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.boldText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.indentity {
  margin-bottom: 14px;
}

.labelRadio {
  display: block;
}

.inputRadioDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  cursor: pointer;
}

.inputRadioDivContainer {
  display: flex;
}

.inputRadioDiv label {
  margin-right: 10px;
  /* Відстань між кнопками */
}

.radioBtn {
  width: 20px;
  height: 20px;

  margin-right: 10px;
  cursor: pointer;
}

.labelNameEmail {
  display: block;
}

.inputNameEmail {
  width: 100%;
  max-width: 303px;
  height: 46px;
  border-radius: 15px;
  padding: 14px 16px;
  border: 1px solid var(--grey-hover-focus);
  margin-bottom: 14px;
  margin-top: 8px;
  outline: none;
}

.divDailyNorma {
  margin-top: 10px;
  margin-bottom: 24px;
}

.dailyNorma {
  margin-bottom: 14px;
}

.WMFormula {
  margin-bottom: 4px;
  margin-top: 12px;
}

.formula {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent);
}

.paragraph {
  border: 1px solid var(--grey-hover-focus);
  border-radius: 15px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 16px;
  color: var(--main-text);
}

.activSign {
  margin-right: 4px;
}

.activeP {
  margin-bottom: 24px;
}

.divWeight {
  margin-top: 24px;
  margin-bottom: 24px;
}

.labelYourWeight {
  margin-bottom: 8px;
}

.requiredAmount {
  margin-bottom: 14px;
}

.saveBtn {
  min-width: 141px;
  padding: 14px 40px;
  background: var(--accent);
  color: var(--main);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .formDiv {
    min-width: 568px;
    min-height: 934px;
    gap: 24px;
  }
  .uploadPhoto {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .avatarUploadDiv {
  }
  .boldText {
    font-size: 18px;
    line-height: 24px;
  }
  .allText {
    font-size: 16px;
    line-height: 24px;
  }
  .identityTitle {
  }
  .labelNameEmail {
    display: flex;
    flex-direction: column;
  }
  .inputNameEmail {
    width: 100%;
    max-width: 568px;
    height: 56px;

    padding-top: 16px;
    padding-bottom: 16px;
  }
  .inputRadioDiv {
  }
  .saveBtn {
    width: 141px;
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
    padding: 16px 50px;
  }
}

@media screen and (min-width: 1440px) {
  .formDiv {
    max-width: 923px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--main-white);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .avatarUploadDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .uploadPhoto {
    font-size: 16px;
    color: var(--main);
    cursor: pointer;
  }
  .inputRadioDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .inputRadioDivContainer {
    display: flex;
    gap: 20px;
  }

  .labelRadio {
    display: flex;
    align-items: center;

    cursor: pointer;
  }
  .radioBtn {
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent);
    appearance: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radioBtn:checked {
    background-color: var(--accent);
    border-color: var(--accent);
  }
  .divNameEmail {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  .inputNameEmail {
    width: 100%;
    max-width: 400px;
    height: 56px;
    border-radius: 15px;
    padding: 16px;
    font-size: 16px;
  }

  .paragraph {
    width: 100%;
    font-size: 14px;
    padding: 16px;
    border-radius: 15px;
  }

  .divWeight {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .divDesktop2 {
  }
  .divDesktop1,
  .divDesktop2 {
    flex: 1;

    min-width: 400px;
  }
}
