@media only screen and (min-width: 768px) {
  .signUpForm {
    max-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .signUpForm {
    display: flex;
    gap: 32px;
    max-width: 1376px;
    height: 736px;
  }
}
@media only screen and (max-width: 1439px) {
  .AdvantagesSection {
    display: none;
  }
}
