.modal {
  position: relative;
  padding: 40px 20px;
  width: 343px;
  border-radius: 15px;
  background-color: var(--main-white);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2f2f2f;
  stroke: #2f2f2f;
  cursor: pointer;
  fill: var(--main-text);
  stroke: var(--main-text);
  transition: stroke 0.3s ease-in-out;
}

.closeBtn:hover {
  stroke: var(--accent);
}

.svg {
  width: 100%;
  height: 100%;
}

.title {
  color: var(--main);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 20px;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .modal {
    width: 518px;
  }
  .closeBtn {
    width: 28px;
    height: 28px;
  }
  .title {
    font-size: 28px;
    line-height: 1.1;
  }
  .subtitle {
    font-size: 18px;
    line-height: 1.3;
  }
}
