.container {
    border-radius: 30px;
    width: 343px;
    height: 411px;
    background: #f0eff4;
    padding: 24px 16px;
}
.section {
    align-items: flex-start;
    justify-content: flex-start;
    width: 311px;
    padding-top: 74px;
    padding-bottom: 43px;
}


.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 38px; 
    letter-spacing: -0.01em;
    color: var(--main);
    margin-bottom: 32px;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: 0.06em;
    color: var(--main-text);
    margin-bottom: 16px;
}

.link {
    display: flex;
    gap: 10px;
    justify-content: start;
}

.signup, .signin {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    border-radius: 30px;
}

.signup {
    background: #9be1a0;
    border: none;
    width: 116px;
    height: 46px;
    padding: 14px 19px;
}

.signup:hover {
    background: #87d28d;
}

.signin:hover{
    border: 1px solid #87d28d;
    color: #87d28d;
}

.signin {
    border: 1px solid var(--main);
    width: 104px;
    height: 46px;
    padding: 13px 27px;
}


/* @media screen and (min-width: 320px) and (max-width: 767px){
    .container{
        width: 343px;
        height: 411px;
        padding: 24px 16px;
    }

    .section{
        width: 311px;
        padding: 0;
        padding-top: 74px;
        padding-bottom: 43px;
    }

    .title{
      width: 311px; 
      height: 114px; 
font-size: 38px;


    }
    .text{
font-size: 14px;
line-height: 1.3;
    }


    .link{
        max-width: 230px;
height: 46px;
    }

    .signup, .signin {
        padding: 14px 19px;
        height: 46px;
        font-size: 13px;
        line-height: 1.3;
    }

    .signup{
width: 118px;
    }

    .signin{
width: 104px;

    }
} */

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        width: 704px;
        height: 498px;
        padding: 32px;
    }

    .title {
        font-size: 64px;
        line-height: 70px;
    }

    .text {
        font-size: 16px;
        line-height: 24px; 
    }

    .link {
        gap: 16px;
    }

    .signup, .signin {
        font-size: 16px;
        line-height: 24px;
    }

    .signup {
        padding: 18px 40px;
        width: 169px;
        height: 60px;
    }

    .signin {
        width: 135px;
        height: 60px;
        padding: 17px 39px;
    }

    .section {
        width: 547px;
        height: 342px;
        padding: 50px 61px 18px 32px;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 672px;
        height: 736px;
        padding: 32px;
    }

    .section {
        width: 547px;
        height: 360px;
        box-sizing: content-box;
        padding: 132px 29px 156px 32px;
    }

    .text {
        font-size: 16px;
        line-height: 24px; 
    }
    .title {
        font-size: 80px;
        line-height: 95%;
    }

    .link {
        gap: 16px;
    }

    .signup, .signin {
        font-size: 16px;
        line-height: 24px;
    }

    .signup {
        padding: 18px 40px;
        width: 169px;
        height: 60px;
    }

    .signin {
        width: 135px;
        height: 60px;
        padding: 17px 39px;
    }
}