

.container{
    position: relative;
    width: 100%; 
    max-width: 812px;
    margin: 0 auto;
}

.img {
    border-radius: 30px;
width: 100%;
max-width: 343px;
height: auto;
}
.benefits {
    position: absolute;
  bottom: 0px;
  width: 100%;
}

.customers {
    display: flex;
    align-items: center;
    gap: 4px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 160px;
    height: 48px;
    margin-left: 16px;
 
   
  }
.customers p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
font-size: 12px;
line-height: 1.5;
color: #323f47;
text-align: right;
}

.avatars{
    display: flex;
    position: relative;
}

.avatars img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    margin-right: -15px;
  }
  .avatars img:first-child {
    z-index: 3;
}

.avatars img:nth-child(2) {
    z-index: 2;
}

.avatars img:nth-child(3) {
    z-index: 1;
}

 .span {
    color: #9be1a0;;
 }
  

.buttons {
    margin-bottom: 32px;
    margin-left: 159px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 4px;
    width: 168px;
height: 56px;
    
}
button {
    font-family: "Poppins", sans-serif;
font-weight: 700;
    border: none;
    padding:9px 12px;
    font-size: 8px;
    border-radius: 30px;
    cursor: pointer;
line-height: 1;
text-align: center;
letter-spacing: -0.01em;
  }

.habit {
background: #323f47;
color: #fff;
width: 81px;
height: 26px;
}

.habit::before{
    content: "●";
    color: #9be1a0;
    padding-right: 2px;
}

.stats {
    background:  #9be1a0;
    color: black;
    width: 83px;
    height: 26px;

}
.personal {
    background: white;

   
    width: 108px;
    height: 26px;
margin-right: 60px;
}



@media only screen and (min-width: 768px) {
    .container{
        width: 100%; 
        height: auto;
    }

    .img {
        
    max-width: 704px;
    height: auto;
    }
    .customers{
        width: 237px; 
        height: 67px;
        margin-left: 32px; 
    }
    
    .customers p{
        font-size: 15px;
    }


    .avatars img {
        width: 47px;
    height: 47px;
    }

    .buttons{
        margin-bottom: 27px;
        width: 242px;
height: 78px;
margin-left: 430px;
    }
    button{
        font-size: 12px;
        padding: 11px 16px;
    }
    .habit{
        width: 111px;
        height: 34px;
    }
    .stats{
        width: 121px;
height: 34px;
    }
    .personal{
        width: 158px;
height: 34px;
    }
    .personal {
   
        margin-right: 84px;
        }
}
@media only screen and (min-width: 1440px){
    .container{
        width: 100%; 
        height: auto;
    }
    .img {
        
        max-width: 672px;
        height: 736px;
        }
        .buttons{
       margin-bottom: 64px;     
    margin-left: 398px;

}
.personal {
   
margin-right: 84px;
}
}

