.modalSettings {
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
}
.modalTitle {
  font-family: var(--main-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1%;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: transparent;
}

.uploadPhoto {
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  position: absolute;
  left: 130px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  font-size: 400;
}
@media screen and (min-width: 768px) {
  .modalSettings {
    max-width: 648px;
    padding: 40px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modalSettings {
    max-width: 920px;
  }
}
