@import url('./fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./App.css');

:root {
  --main: #323f47;
  --main-text: #2f2f2f;
  --accent: #9be1a0;
  --background: #f0eff4;
  --main-white: #fff;
  --grey-hover-focus: #bcbcbc;
  --font-family: 'Poppins', sans-serif;
  --font-family2: 'Gilroy', sans-serif;
  animation: pageTransition 0.5s ease-in-out;
}

html,
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
html {
  scroll-behavior: smooth;
}

/* mobile */
.container {
  max-width: 375px;
  padding: 16px;
  min-width: 320px;
  margin: 0 auto;
  background: var(--main-white);
}

@keyframes pageTransition {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
