.homePage {
    display: flex;
    flex-direction: row;
    gap: 31px;
    
height: 800px;
background: #fff;
padding: 32px;
}


@media screen and (min-width: 320px) and (max-width: 766px){
    .homePage{
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 812px;
    }
}

@media  screen and (min-width: 768px)  {
    .homePage{
        display: flex;
        flex-direction: column;
        width: 768px;
height: 1024px;
    }
}

@media only screen and (min-width: 1440px) {
    .homePage{
        display: flex;
    flex-direction: row;
    width: 1440px;
height: 800px;
    }
}




