@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    gap: 32px;
    max-width: 1376px;
  }
}
@media only screen and (max-width: 1439px) {
  .AdvantagesSection {
    display: none;
  }
}
